@use"./extend" as *;
.section1{
    margin: 30px 0;
    .paragraph{
        padding: 20px 0
    }
    .pics{
    @extend .flex;
    gap: 100px;
    h2{
        padding: 10px;
font-weight: 600;
font-size: 22px; 
line-height: 1.4;
text-transform: capitalize;
color: #fff;
    }
    .pic_bottom{
        padding: 10px;
        @extend .flex;
        justify-content: start;
        gap: 10px;
        p{
           
font-weight: 400;
font-size: 16px;
line-height: 1.4;
color: #fff;
        }
    }
}}
@media(max-width:942px){
    .pics{
        flex-wrap: wrap;
        gap: 50px;
    }
}